body{
  background-color: #fffaf0;
}
hr{
  /* the border are rectangular shapes. When we set the colors to borders to none, we make them all dissapear */
  /* when we then specify the bottom border width, we can start seeing a line, since the other sides are not visible */
  border: none;
  border-width: 10px;
  border-color: lightgrey;
  border-bottom-style: dotted;
  width: 10%
}
h1{
color: steelblue;
font-weight: 900;}
h3{
color: steelblue;
font-weight: 800;}
